Flask==2.0.3
Flask_Cors==3.0.3
infobip_api_python_client==3.0.3
keras==2.15.0
numpy==1.26.4
opencv_python==4.9.0.80
Pillow==10.2.0
predictionguard==1.9.1
python-dotenv==1.0.1
Requests==2.31.0
setuptools==58.0.4
tensorflow==2.15.0
typing_extensions==4.9.0
